ion-content {
    --background: transparent; 
    background-image: url('../../assets/imagen/fondoblanco.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}




